<div class="container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-supported-content"
            aria-controls="navbar-supported-content"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"
       href="#">Cats Book</a><!-- with href="#", will reload the application-->
    <div class="collapse navbar-collapse"
         id="navbar-supported-content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/"
             class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/cats"
             class="nav-link"
             routerLinkActive="active">
            <i class="fa fa-list"></i> Cats
          </a>
        </li>
        <li *ngIf="auth.loggedIn && auth.isAdmin"
            class="nav-item">
          <a routerLink="/admin"
             class="nav-link"
             routerLinkActive="active">
            <i class="fa fa-lock"></i> Admin
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/about"
             class="nav-link"
             routerLinkActive="active">
            <i class="fa fa-question"></i> About
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="auth.loggedIn; then loggedInMenu else notLoggedInMenu"></ng-container>
        <ng-template #notLoggedInMenu>
          <li class="nav-item">
            <a routerLink="/login"
               class="nav-link"
               routerLinkActive="active">
              <i class="fa fa-sign-in"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/register"
               class="nav-link"
               routerLinkActive="active">
              <i class="fa fa-user-plus"></i> Register
            </a>
          </li>
        </ng-template>
        <ng-template #loggedInMenu>
          <li class="nav-item">
            <a routerLink="/account"
               class="nav-link"
               routerLinkActive="active">
              <i class="fa fa-user"></i> Account ({{auth.currentUser.username}})
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/logout"
               class="nav-link"
               routerLinkActive="active">
              <i class="fa fa-sign-out"></i> Logout
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>